@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Bubblegum Sans';
  src: url('/BubblegumSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-bubblegum: 'Bubblegum Sans', sans-serif;
}

body {
background: repeating-linear-gradient(
  315deg,
  #C11518,
  #C11518 80px,
  #378B29 80px,
  #378B29 160px
);
background-attachment: fixed; /* keeps it from moving */
}
